{{/*
  Cut Sheet footer. Overrides themes/blowfish/layouts/partials/footer.html.

  Laid out as the title block of an engineering drawing: the identification
  cells a drawing carries in its bottom-right corner, running full width. The
  quote CTA sits in the block's top cell so every page ends in an ask.
*/}}
<footer id="site-footer" class="rc-footer print:hidden">
  <div class="rc-shell">

    <div class="rc-titleblock">
      <div class="rc-titleblock-cta">
        <b>Need a part quoted, or a bracket that doesn't exist yet?</b>
        <a class="rc-btn" href="{{ "contact" | relLangURL }}">Request a quote</a>
      </div>

      <div>
        <span class="rc-k">Company</span>
        <span class="rc-v">
          Rainbow Crow, LLC.<br />
          176 Camden Cay Dr, St. Augustine, FL 32086
        </span>
      </div>
      <div>
        <span class="rc-k">Email</span>
        <span class="rc-v"><a href="mailto:sales@rainbowcrow.com">sales@rainbowcrow.com</a></span>
      </div>
      <div>
        <span class="rc-k">Telephone</span>
        <span class="rc-v"><a href="tel:+12033001999">(203) 300-1999</a></span>
      </div>
      <div>
        <span class="rc-k">Classification</span>
        <span class="rc-v"><a href="{{ "certifications" | relLangURL }}">WBE &middot; WOSB</a></span>
      </div>
    </div>

    <div class="rc-legal">
      <span>
        {{- with replace site.Params.copyright "{ year }" now.Year }}
        {{ . | emojify | markdownify }}
        {{- else }}
        &copy; {{ now.Format "2006" }} {{ site.Params.Author.name | markdownify | emojify }}
        {{- end }}
      </span>
      <span>Woman-owned business enterprise</span>
    </div>

  </div>

  {{ $jsProcess := resources.Get "js/process.js" | resources.Minify | resources.Fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $jsProcess.RelPermalink }}" integrity="{{ $jsProcess.Data.Integrity }}"></script>
  {{ if templates.Exists "partials/extend-footer.html" }}
  {{ partialCached "extend-footer.html" . }}
  {{ end }}
</footer>
